@tailwind base;
@tailwind components;
@tailwind utilities;
body{
font-family: 'Barlow', sans-serif !important;

}
.sombra_texto{
    text-shadow: 1px 2px 8px black;
}
.separacion_letras{
    letter-spacing: .2rem;
}
/*Lista de las estaciones y lineas*/
#lista_inicio p, #lista_final p{
    margin-bottom: 10px;
}
#lista_inicio > p:hover:not(.default), #lista_final> p:hover:not(.default){
   background-color: rgb(103, 107, 107);
   border-radius: 5rem;
}
.contenedor-estacion{
    position: absolute;
    top: 270px;
    right: 680px;
    width: fit-content;
    max-height: 30rem;
    overflow-y: scroll;
    background-image: linear-gradient(to right,  #cf4900,#b94100 );
    border-radius: 10px;
    padding: 10px 15px;
    color: #ffffff;
}
.contenedor-estacion p:hover{
  background-color: #e85e14;
  border-radius: 5rem;
  padding-left: 15px;
  padding-right: 15px;
}
.scrollbar-hidden{
    scrollbar-width: none;
}
.activo-link,.activo-link_hover:hover{
     filter: invert(50%) sepia(50%) saturate(700%) hue-rotate(350deg)
}